<!DOCTYPE html>
<html>
<head>
    <style>
        body { background:#0b1622; color:#fff; font-family:sans-serif; text-align:center; padding:10px; }
        .card { background:#182635; border:15px; padding:15px; margin:15px auto; max-width:400px; border:1px solid #2a3d51; border-radius:15px; }
        img { width: 100%; border-radius: 10px; margin-bottom: 10px; }
        .btn { background:#e50914; color:white; padding:12px; display:block; text-decoration:none; border-radius:8px; font-weight:bold; }
    </style>
</head>
<body>
    {% for item in data %}
    <div class="card">
        <img src="{{ url_for('static', filename='p' + loop.index|string + '.jpg') }}" alt="Image">
        <p style="white-space: pre-wrap; text-align: left;">{{ item|safe }}</p>
        <a href="https://t.me/KUSHAL206" class="btn">BUY NOW</a>
    </div>
    {% endfor %}
</body>
</html>
